body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f1f1;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #d31c1c; /* Rojo oscuro */
}

#pregunta {
    margin-bottom: 20px;
    font-size: 20px;
    color: #555; /* Gris oscuro */
}

#respuestas button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: #ffaaaa; /* Rosa claro */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#respuestas button:hover {
    background-color: #ff6666; /* Rosa más oscuro */
}

#resultado {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    color: #333; /* Gris oscuro */
}
